.page-header ul li {
  float: left;
  margin: 0 1em 1em 0;
  list-style: none;
}

/*
 * Clearfix: contain floats
 *
*/

.page-header:before,
.page-header:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.page-header:after {
    clear: both;
}